<!DOCTYPE html>
<html>
  <head>
    <!--<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />-->
    <title>Trouble Spot</title>
    
    <style>
      .body {
        background-color:#DDEBEE;
        color:#424242;
      }
      .highlight-1 {
        color:#008080;
        font-weight:bold
      }
      .highlight-2 {
        color:#004040;
        font-weight:bold
      }
    </style>
  </head>
  <body>
    <h1> User <%= @user.first_name %> <%= @user.last_name %> with id <%= @user.id %> has an error</h1>
    <p> 
      Problem with Parkify spot at <span class="highlight-1"><%= @spot.location_name %></span>. Complaint ID # <%=@complaint.id%>
      and it shouldCancel is <%=@shouldCancel %>
    </p>
    <hr/>
    
  </body>
</html>
