<!DOCTYPE html>
<html>
  <head>
    <!--<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />-->
    <title>Query Response</title>
    
    <style>
      .body {
        background-color:#DDEBEE;
        color:#424242;
      }
      .highlight-1 {
        color:#008080;
        font-weight:bold
      }
      .highlight-2 {
        color:#004040;
        font-weight:bold
      }
    </style>
  </head>
  <body>
    <h1><b>User Aquisition Query Results</b></h1><br/>
    <p><%= @start_time.in_time_zone("Pacific Time (US & Canada)").strftime("%B %d %Y (%l:%M %p)") %>  to  <%= @end_time.in_time_zone("Pacific Time (US & Canada)").strftime("%B %d %Y (%l:%M %p)") %></p><br/>
    <p><b>New Users:</b> <%= @user_promo_hash.count %></p>
    <p><b>New Users from coupon codes:</b> <%= @user_promo_hash.reject{|k,v| v.nil?}.count %></p>
    <br/>

    <p>
    <% @user_promo_hash.sort.each do |u, p| %>
        <b>New user</b> <%= u %> - code: <%= ( (p.nil?) ? "N/A" : p.code_text) %> <br/>
    <% end %>
    </p>
    <hr/>
    
  </body>
</html>
