<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @resource_offer.description %>
</p>

<p>
  <b>User:</b>
  <%= @resource_offer.user_id %>
</p>

<p>
  <b>Title:</b>
  <%= @resource_offer.title %>
</p>

<p>
  <b>Active:</b>
  <%= @resource_offer.active %>
</p>

<p>
  <b>Sign:</b>
  <%= @resource_offer.sign_id %>
</p>


<%= link_to 'Edit', edit_resource_offer_path(@resource_offer) %> |
<%= link_to 'Back', resource_offers_path %>
