= form_for @user do |f|
  -if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
          
  %p
    = f.label :email
    = f.text_field :email
  %p
    = f.label :first_name
    = f.text_field :first_name
  %p
    = f.label :last_name
    = f.text_field :last_name
  %p
    = f.label :company_name
    = f.text_field :company_name
    
  %p
    = f.label :billing_address
    = f.text_field :billing_address
    
  %p
    = f.label :company_phone_number
    = f.text_field :company_phone_number
    
  
  .actions
    = f.submit 'Save'
  