%h1 Listing codes

%table
  %tr
    %th Code text
    %th Personal
    %th Promo
    %th
    %th
    %th

  - @codes.each do |code|
    %tr
      %td= code.code_text
      %td= code.personal
      %td= code.promo_id
      %td= link_to 'Show', code
      %td= link_to 'Edit', edit_code_path(code)
      %td= link_to 'Destroy', code, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Code', new_code_path
