= form_for @payment_info do |f|
  -if @payment_info.errors.any?
    #error_explanation
      %h2= "#{pluralize(@payment_info.errors.count, "error")} prohibited this payment_info from being saved:"
      %ul
        - @payment_info.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
