%li
  %table
    %tr
      %th
      %th
      %th
    %tr
      %td= link_to 'Show', resource
      %td= link_to 'Edit', edit_resource_path(resource)
      %td= link_to 'Destroy', resource, :confirm => 'Are you sure?', :method => :delete
  
  %p
    ="Description : #{resource.description}"
    %br
    = "Capacity: #{resource.capacity}"
    %br
    = "Price Plan: #{resource.price_plan}"
    %br
    = "Company Name: #{user.company_name}"
    %br
    = "Billing Address: #{user.billing_address}"
    %br
    = "Phone #: #{user.company_phone_number}"
