%li
  %table
    %tr
      %th
      %th
      %th
    %tr
  %p
  
    %br
    ="Start Time : #{offer.start_time}"
    %br
    = "End Time: #{offer.end_time}"
    %br
    = "Capacity: #{offer.capacity unless !offer.price_plan}"
    %br
    = "Price Plan: $#{offer.price_plan.price_per_hour unless !offer.price_plan}/hr"
    
