<!DOCTYPE html>
<html>
<head>
  <title>Parkify</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "home", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="header">
  <%= image_tag("/assets/blue_ribbon_top.png", :width=>"100%", :height=>"90px", :style=>"display:block;") %>
    <!-- end .header -->
  </div>
  
 
 
  <div class="content">
  
  <div class="nav-r">
  	<ul class="nav">
      <li><%= link_to("Home", url_for(:action => 'index')) %> </li>
      <li><%= link_to("About Us", url_for(:action => 'about')) %></li>
      <li><%= link_to("Blog", "http:/wordpress.org//") %></li>
      <li><%= link_to("Contact Us", url_for(:action => 'contact')) %></li>
    </ul>
  </div>

  <%= yield %>
  
    
  <div class="cc-container">C 2012 Parkify Inc</div>

<div class="other-links-container">
<%= link_to("Terms of Service", url_for(:action => 'tos')) %><br/>
<%= link_to("Privacy Policy", url_for(:action => 'privacy')) %>
</div>
	



<div class="clearfloat"/>
    
    
    <!-- end .content -->
  </div>
  <div class="footer">
     <%= image_tag("/assets/blue_ribbon_bottom.png", :width=>"100%", :height=>"105px", :style=>"display:block;") %>

    <!-- end .footer -->
  </div>
  <!-- end .container -->
</div>

</body>
</html>
