<!DOCTYPE html>
<html>
<head>
  <title>Parkify</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "home", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="header">
  <%= image_tag("/assets/blue_ribbon_top.png", :width=>"100%", :height=>"90px", :style=>"display:block;") %>
    <!-- end .header -->
  </div>
  
 
 
  <div class="content">
  
  
  <div class="download-free-app-container">
  <%= image_tag("/assets/download_free_app.png", :width=>"313px", :height=>"91px", :style=>"display:block;") %>
  
  </div>
  
  <div class="nav-r">
  
  	<ul class="nav">
      <li><%= link_to("Home", url_for(:action => 'index')) %> </li>
      <li><%= link_to("About Us", url_for(:action => 'about')) %></li>
      <li><%= link_to("Blog", url_for(:action => 'blog')) %></li>
      <li><%= link_to("Contact Us", url_for(:action => 'contact')) %></li>
    </ul>
  
  
  
  </div>
  <div class="logo-container">
  <%= image_tag("/assets/logo.png", :width=>"385px", :height=>"161px", :style=>"display:block;" )%>
  
  </div>
  
    <div class="demo-container">
     <%= image_tag("/assets/app_demo_1.png", :width=>"270px", :height=>"480px", :style=>"display:block;") %>
    </div>
    
    
    <div class="cc-container">C 2012 Parkify Inc
</div>

<div class="other-links-container">
<a href="javascript:alert('broken-link! :3');">Terms of Service</a><br/>
<a href="javascript:alert('broken-link! :3');">Privacy Policy</a>
</div>
	



<div class="clearfloat"/>
    
    
    <!-- end .content -->
  </div>
  <div class="footer">
     <%= image_tag("/assets/blue_ribbon_bottom.png", :width=>"100%", :height=>"105px", :style=>"display:block;") %>

    <!-- end .footer -->
  </div>
  <!-- end .container -->
</div>

</body>
</html>
